In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import env

In [3]:
#uses env.py to connect to the Codeup database
url = f'mysql+pymysql://{env.username}:{env.password}@{env.host}/curriculum_logs' 

query = '''
SELECT date,
       path as endpoint,
       user_id,
       cohort_id,
       ip as source_ip
FROM logs;
'''

In [4]:
#creates a dataframe from the SQL query
df = pd.read_sql(query, url)

In [5]:
df.head()

,date,endpoint,user_id,cohort_id,source_ip
0,2018-01-26,/,1,8.0,97.105.19.61
1,2018-01-26,java-ii,1,8.0,97.105.19.61
2,2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       900223 non-null  object
 1   endpoint   900222 non-null  object
 2   user_id    900223 non-null  int64
 3   cohort_id  847330 non-null  float64
 4   source_ip  900223 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 34.3+ MB

In [ ]:
#prepare

In [7]:
#convert date to datetime format
df.date = df.date.astype('datetime64')

In [8]:
#set date as index and sort the index
df = df.set_index('date').sort_index()

### The exponential moving average is the best average type to use in the search for anomalies

In [9]:
#look at the endpoints
df.endpoint

date
2018-01-26                                                   /
2018-01-26                                             java-ii
2018-01-26                 java-ii/object-oriented-programming
2018-01-26                  slides/object_oriented_programming
2018-01-26                           javascript-i/conditionals
                                    ...
2021-04-21                                jquery/personal-site
2021-04-21                                   jquery/mapbox-api
2021-04-21                             jquery/ajax/weather-map
2021-04-21    anomaly-detection/discrete-probabilistic-methods
2021-04-21                                   jquery/mapbox-api
Name: endpoint, Length: 900223, dtype: object

In [11]:
#looks at number endpoints sampled by day
pages = df.endpoint.resample('D').count()
pages

date
2018-01-26     572
2018-01-27     230
2018-01-28     170
2018-01-29     830
2018-01-30     652
              ...
2021-04-17     478
2021-04-18     659
2021-04-19    2156
2021-04-20    1930
2021-04-21    1131
Freq: D, Name: endpoint, Length: 1182, dtype: int64